{% extends 'helpdesk/index.html' %}

{% block content %}
{% if request.user.is_superuser %}
    <h2>Sutvarkyti gedimai</h2>
{% else %}
    <h2>Jusu registruoti gedimai, kurie jau sutvarkyti</h2>
{% endif %}
{% endblock %}

{% block content2 %}
<table>
    <tr>
        <th>Problemos aprasymas</th>
        <th>Kabineto numeris</th>
        <th>Autorius</th>
        <th>Registracijos data</th>
        <th>Uzbaigimo data</th>
        <th>Komentaras</th>
        <th>Problemos tipas</th>
    </tr>
    {%for item in visas_sarasas%}
    <tr>
        <td><a href="../irasai/{{item.id}}">{{item.problemos_aprasymas}}</td>
        <td>{{item.kabineto_nr}}</td>
        <td>{{item.autorius}}</td>
        <td>{{item.reg_data}}</td>
        <td>{{item.pab_data}}</td>
        <td>{{item.komentaras}}</td>
        <td><a href="../tipai/{{item.prob_tipas_id}}">{{item.prob_tipas}}</td>
    </tr>
    {%endfor%}
</table>
{% endblock %}