{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'helpdesk/style.css' %}" />
<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
<head>
    <Title>HELPDESK</Title>
</head>

<body>
<h1>Sveiki atvyke i gedimu registra</h1>
{% if request.user.is_authenticated %}
    <div id="atsijungimas"><a href="http://127.0.0.1:8000/helpdesk/logout/"><button>Atsijungti</button></a></div>
{% endif %}
{% if request.user.is_superuser %}
    <a href="http://127.0.0.1:8000/admin/"><button id="admin_mygtukas">Administravimas</button></a>
    <a href="http://127.0.0.1:8000/helpdesk/vart_kurimas/"><button id="mygtukas">Naujo vartotojo sukurimas</button></a>
{%endif%}
{% block content %}
{% endblock %}
</body>