<h1>Sveiki atvyke i gedimu registra</h1>
<h2>Jus ziurite i konkretu irasa</h2>
<h3><a href="../../">Grizti i pradzia</a></h3>
<table>
    <tr>
        <th>Problemos aprasymas</th>
        <th>Kabineto numeris</th>
        <th>Autorius</th>
        <th>Registracijos data</th>
        <th>Uzbaigimo data</th>
        <th>Komentaras</th>
        <th>Problemos tipas</th>
    </tr>
    {%for item in konkretus_irasas%}
    <tr>
        <form method="post">
        <td>{{item.problemos_aprasymas}}</td>
        <td>{{item.kabineto_nr}}</td>
        <td>{{item.autorius}}</td>
        <td>{{item.reg_data}}</td>
        <td>{{item.pab_data}}</td>
        <td>
            {% csrf_token %}
            <textarea name="komentaras" rows="5" cols="30"></textarea>
        </td>
        <td><a href="../../tipai/{{item.prob_tipas_id}}">{{item.prob_tipas_id}}</td>
        <input type="submit" value="Prideti komentara"></form>
    </tr>
    {%endfor%}
</table>