{% extends 'helpdesk/index2.html' %}
{% block content %}
<h2>Naujo gedimo registravimas</h2>
<a href="../"><button id="grizimas_atgal">Grizti i pradzia</button></a>

<form id="iraso_reg_lentele" method="post">
    {% csrf_token %}
    Problema:<br>
    <textarea name="problemos_aprasymas" rows="5" cols="30">Trumpai aprasykite gedima.</textarea><br>
    Kabinetas:<br>
    <input id="kabnumeris"type="text" name="kabineto_nr"><br>
    Gedimo rusis:<br>
    <select name="prob_tipas_id">
        {% for item in tipai%}
            <option name="optionai" value={{item.id}}>{{item.prob_tipas}}</option>
        {% endfor %}
    </select><br><br>
    <input id="gedimo_reg" type="submit" value="Registruoti">
</form>
{% endblock %}