<script>
function myFunction(item) {
  var my_id = item.value
  console.log(my_id)
  var xhr = new XMLHttpRequest();
xhr.open('GET', "?id="+my_id, true);
xhr.send();
}
</script>
{% extends 'helpdesk/index.html' %}
{% block content %}


{% if request.user.is_superuser %}
    <h2>Nesutvarkyti gedimai</h2>
{% else %}
    <h2>Jusu uzregistruoti gedimai, kurie dar nesutvarkyti</h2>
{%endif%}
{% endblock %}

{% block content2 %}

<table>
    <tr>
        <th>Problemos aprasymas</th>
        <th>Kabineto numeris</th>
        <th>Autorius</th>
        <th>Registracijos data</th>
        <th>Uzbaigimo data</th>
        <th>Komentaras</th>
        <th>Problemos tipas</th>
        {% if request.user.is_superuser %}
            <th>Problemos atlikimas</th>
        {%endif%}
    </tr>
    {%for item in visas_sarasas%}
    <tr>
        <td><a href="irasai/{{item.id}}">{{item.problemos_aprasymas}}</td>
        <td>{{item.kabineto_nr}}</td>
        <td>{{item.autorius}}</td>
        <td>{{item.reg_data}}</td>
        <td>{{item.pab_data}}</td>
        <td>{{item.komentaras}}</td>
        <td><a href="tipai/{{item.prob_tipas_id}}">{{item.prob_tipas}}</td>
        {% if request.user.is_superuser %}
            {% if item.pab_data is null%}
                <td><button id="{{item.id}}" value="{{item.id}}"  onclick="myFunction(this)">Atlikta</button></td>
            {%endif%}
        {%endif%}
    </tr>
    {%endfor%}
</table>

{% endblock %}